<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>946833910913-dhhjta9p0tokbjk4qv9um91ta38h1kva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946833910913-dhhjta9p0tokbjk4qv9um91ta38h1kva</string>
	<key>API_KEY</key>
	<string>AIzaSyCFn39J34LExldwn6eGbcKxEjjNcmRLBtk</string>
	<key>GCM_SENDER_ID</key>
	<string>946833910913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>J-A.SwiftDungeon</string>
	<key>PROJECT_ID</key>
	<string>bulletdungeon</string>
	<key>STORAGE_BUCKET</key>
	<string>bulletdungeon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946833910913:ios:dc8cea9b941fe346</string>
	<key>DATABASE_URL</key>
	<string>https://bulletdungeon.firebaseio.com</string>
</dict>
</plist>